:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Define your CSS variables here */
  --primary-color: #007bff;  /* Default primary color */
  --text-color: #212529;     /* Default text color */
  --background-color: #fff; /* Default background color */
  --link-color: #007bff;     /* Default link color */
}

a {
  font-weight: 500;
  color: var(--link-color); /* Use the link color variable */
  text-decoration: inherit;
}

a:hover {
  color: #535bf2; /* You might want to define a hover color variable as well */
}

#root {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

#root.light { 
  --primary-color: #007bff;   
  --text-color: #212529;      
  --background-color: #fff;  
  --link-color: #007bff; 
}

#root.dark {
  --primary-color: #ffc107;  
  --text-color: #f8f9fa;      
  --background-color: #343a40;
  --link-color: #ffc107;  
}

.navbar .dropdown-toggle {
  color: white; 
}

.navbar .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.6); 
}

.top-navbar {
  background-image: linear-gradient(to right, 
   #004691,
   #006adb, 
   #007bff, 
   #006adb,
   #004691); 
}

.bottom-navbar {
  background-color: #c2d6ec; 
  transition: background-color 0.3s ease-out;
  position: sticky; 
  top: 0; 
  z-index: 100; 
}

/* You can adjust these navbar colors based on your theme variables */
.dark-theme .bottom-navbar { 
  background-color: #7188a0; 
}

.dark-theme .bottom-navbar .navbar-nav .nav-link {
  color: #eee; 
}

@media (max-width: 200px) { 
  .bottom-navbar .navbar-collapse {
    justify-content: flex-start; 
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);  
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-color); /* Use the text color variable */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a; /* You might want to use a variable for button color */
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--text-color); /* Use the text color variable */
}

button:hover {
  border-color: #646cff; /* Consider using a hover color variable */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

figcaption {
  font-style: italic;
  font-size: 0.9em;
  color: #6c757d; /* Consider using a variable for this color */
}

.list-group-item {
  padding: 1rem 1.25rem; 
}

/* You no longer need this media query since you're using CSS variables */
/* @media (prefers-color-scheme: light) { ... } */
